.hide {
  display: none;
}

button {
  display: inline-block;
  background-color: #9900cc;
  color: white;
  font-size: 20px;
  padding: 14px 40px;
  border-radius: 4px;
}

.card {
  border: none;
}

.card-header {
  border: none;
}

p {
  font-size: 32px;
}